In [6]:
v_value = 'Hello!'

In [8]:
v_value = 'Second string'

In [9]:
print(v_value)
print('ololo')

Second string
ololo

In [11]:
import pandas as pd

In [17]:
import psycopg2 as pg
import pandas.io.sql as psql
connection = pg.connect("host=194.87.102.3 dbname=test1 user=pandas_user password=qwerty123")
df_humans = psql.read_sql('SELECT * FROM humans', connection)
# product_category = psql.read_sql_query('select * from product_category', connection)

In [18]:
print(df_humans)

   id full_name  human_type
0   1     Vasya           1
1   2     Petya           2
2   3      Ivan           2
3   4     Axmed           4

In [20]:
df_human_types = pd.read_csv('/tmp/human_types.csv') 
print(df_human_types)

   id    type_name
0   1     Визажист
1   2  Программист
2   3     Дизайнер

In [22]:
df_result = df_humans.merge(df_human_types, left_on='human_type', right_on='id', how='left')
print(df_result)

   id_x full_name  human_type  id_y    type_name
0     1     Vasya           1   1.0     Визажист
1     2     Petya           2   2.0  Программист
2     3      Ivan           2   2.0  Программист
3     4     Axmed           4   NaN          NaN

In [23]:
df_result.to_csv('/tmp/out.csv')